.portfolio__container {
    /* grid-template-columns: repeat(3, 150px); */
    /* column-gap: 10px; */
    /* row-gap: 40px; */
    justify-content: center;
    display: flex;
    width: 650px;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.portfolio__data__card {
    padding-bottom: 1rem;
    background-color: var(--container-color);
    border-radius: 1rem;
    height: 300px;
}

.portfolio__data__card__text {
    padding-left: 1rem;
}

.portfolio__img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: var(--mb-0-25);
}

.portfolio__title {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-25);
}

.portfolio__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    filter: contrast(0.8);
}

.portfolio__button__icon {
    font-size: 1rem;
    transition: 0.3s;
}

.portfolio__button:hover .portfolio__button__icon {
    transform: translateX(.25rem);
}

/* Swiper Class */

.swiper-wrapper {
    padding-bottom: 4rem;
}

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/* @media screen and (max-width: 992px) {
    .portfolio__container {
        width: 500px;
    }
} */

@media screen and (max-width: 768px) {
    .portfolio__container {
        /* grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 15px; */
        width: 440px;
    }

    .portfolio__content {
        padding: 0.75rem;
    }
}

@media screen and (max-width: 576px) {
    .portfolio__container {
        width: 340px;
    }

    .portfolio__title {
        font-size: 0.80rem;
    }

    .portfolio__button {
        font-size: var(--tiny-font-size);
    }
}

@media screen and (max-width: 350px) {
    .portfolio__container {
        width: 100%;
    }
}
